.main{
    width: 100%;
    height: 4rem;
    color:white ;
    justify-content: center;
    align-items: center;
    background: #000;
    display: flex;
    gap: 2px;
}


.txt{
    width: 8rem;
    height: max-content;
    padding-right: 3px;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: aliceblue;
    font-size: 20px;
    border: 1px;
    background:rgb(123, 108, 108);
    border-radius: 5px;
}

.txt:hover{
    background: rgb(145, 143, 143);
}





    
  @media only screen and (min-width:500px) {
        .main{
            width: 100%;
            height: 6rem;
            color:white ;
            justify-content: center;
            align-items: center;
            background: #000;
            display: flex;
        }
        
        
        .txt{
            width: 8rem;
            height: max-content;
            padding-right: 3px;
            padding-left: 9px;
            padding-top: 3px;
            padding-bottom: 3px;
            color: aliceblue;
            font-size: 20px;
            border: 1px;
            background:rgb(123, 108, 108);
            border-radius: 5px;
        }
        
        .txt:hover{
            background: rgb(145, 143, 143);
        }
        
    }





    @media only screen and (min-width:800px) {
    
    .main{
        width: 100%;
        height: 6rem;
        color:white ;
        justify-content: center;
        align-items: center;
        background: #000;
        display: flex;
    }
    
    
    .txt{
        width: 8rem;
        height: max-content;
        padding-right: 3px;
        padding-left: 9px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: aliceblue;
        font-size: 20px;
        border: 1px;
        background:rgb(123, 108, 108);
        border-radius: 5px;
    }
    
    .txt:hover{
        background: rgb(145, 143, 143);
    }
        
        }

@media only screen and (min-width:1500px) {
    .main{
        width: 100%;
        height: 7rem;
        color:white ;
        justify-content: center;
        align-items: center;
        background: #000;
        display: flex;
    }
    
    
    .txt{
        width: 10rem;
        height: max-content;
        padding-right: 3px;
        padding-left: 9px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: aliceblue;
        font-size: 25px;
        border: 1px;
        background:rgb(123, 108, 108);
        border-radius: 5px;
    }
    
    .txt:hover{
        background: rgb(145, 143, 143);
    }
    
    
}